.card{
    // background-color: grey;
    // display: flex;
    margin: 400px;
    margin-top: 100px;
    text-align: center;
    border: solid black 1px;

    padding: 50px;
}
.card ul{
    text-align: left;
}