nav{
    padding: 10px;
    background-color: lightpink;
    list-style-type: none;
    border: 2px solid red;
}
ul{
    font-style: italic;
    font-size: larger;
    background-color: lightpink;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul li{
    margin-top: 10px;
    float: left;
    font-size: medium;
}
li a{
    background-color: lightpink;
    display: block;
    padding: 10px;
    margin: 10px;
    color: green;
    /* text-decoration: none; */
}

li a:hover{
    border: 1px solid black;
}
aside{
    float: right;
    width: 25%;
    margin-top: 0px;
    border: 1px solid brown;
    justify-content: center;
    overflow: hidden;
}
aside h3{
    text-align: center;
    padding: 2px;
}
figcaption{
    text-align: center;
    background-color: azure;
    padding: 4px;
}

article{
    background-color: rgb(213, 197, 227);
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    border: 1px solid brown;
    width: 70%;
    /* float: left; */
}
section{
    background-color: rgb(213, 197, 227);
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    border: 1px solid brown;
    width: 70%;
    /* float: left; */
}
main p{
    border: 1px solid black;
    margin: 2px;
    padding: 3px;
}
pre{
    border: 1px solid black;
    margin: 2px;
    padding: 3px;
}
code{
    margin: 2px;
    padding: 3px;
}
blockquote{
    border: 1px solid black;
    margin: 2px;
    padding: 13px;
}

footer{
    margin: 10px;
    padding: 10px;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
}
form{
    text-align: center;
}
.container{
    border: 1px solid black;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px;
}

input[type="submit"], input[type="reset"] {
    width: 45%; 
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    width:20%
  }
input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #45a090; 
  }
  .strikethrough {
    text-decoration: line-through;
  }